<a href="https://colab.research.google.com/github/AJDempsey651/CSC221_AJDempsey/blob/main/Assignment23_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
def NameAndAge(name, age):
  print(name, "is", age)

NameAndAge("Adam", 22)
NameAndAge("Emma", 29)
NameAndAge("Jill", 27)

('Adam', 'is', 22)
('Emma', 'is', 29)
('Jill', 'is', 27)

In [9]:
def product(firstvalue, *followingvalues):
  for x in followingvalues:
    firstvalue = firstvalue * x
  return firstvalue

product(2, 5, 2)

20

In [13]:
def product(firstvalue, *followingvalues, lastvalue=2):
  for x in followingvalues:
    firstvalue = firstvalue * x
  firstvalue = firstvalue * lastvalue
  return firstvalue

product(2, 5, 5)

100

In [29]:
def AddOrSubtract(firstvalue, *values, operator="+"):
  if operator == "+":
    result = firstvalue
    for x in values:
      result = result + x
    return result
  elif operator == "-":
    result = firstvalue
    for x in values:
      result = result - x
  return result

AddOrSubtract(5, 5, 5, 5)
AddOrSubtract(10, 5, 3, 1, operator="-")

1

In [89]:
operator = "+"

def calculator(firstvalue, *values):
  newoperator = input("What operator would you like to use? ")
  operator = newoperator
  result = firstvalue
  if operator == "+":
    for x in values:
      result = result + x
    return result
  elif operator == "-":
    for x in values:
      result = result - x
    return result
  elif operator == "*":
    for x in values:
      result = result * x
    return result
  elif operator == "/":
    for x in values:
      result = result / x
    return result
  else:
    print("That is not a valid operator!")

calculator(5, 5, 5)

What operator would you like to use? +

15

In [39]:
word_list = ['apple', 'orange', 'banana']
sorted(word_list,
  key=lambda word: sum(ch in 'aeiou' for ch in word),
  reverse=True)

['orange', 'banana', 'apple']

In [ ]:
def logger(func):
  file = open('log.txt', 'a')
  file.write(func)

@logger
def NameAndAge(name, age):
  print(name, "is", age)

In [72]:
from functools import reduce
def square(x):
  return x * x
nums = [1, 2, 3, 4, 5]
squares = map(lambda x: x*x, nums)
for n in squares:
  print(n)
for n in filter(lambda x: x > 2, nums):
  print(n)
nums = [1, 2, 3, 4, 5]
total = reduce(lambda x, y: x + y, nums)
product = reduce(lambda x, y: x * y, nums, 1)
print(total)
print(product)

1
4
9
16
25
3
4
5
15
120

In [5]:
import operator
from math import *
globals = {"+": operator.add, "-": operator.sub, "*": operator.mul, "/": operator.truediv}
def calculator():
  expression = input("Enter an equation: ")
  exec(expression, globals)
  print(expression)

calculator()

Enter an equation: 5 + 5
5 + 5

In [15]:
import operator
Active = True
globals = {"+": operator.add, "-": operator.sub, "*": operator.mul, "/": operator.truediv}
while Active == True:
  expression = input("Enter an Expression: ")
  if expression == "Exit":
    break;
  exec(expression)
  print(expression)

Enter an Expression: 5 + 5
5 + 5
Enter an Expression: Exit